# Q2 Kaggle Competition
## user id: https://www.kaggle.com/gowtham1729
## username: AI_boy
## Score Obtained: 3.11423

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("TrainAndValid.csv")
dataX = pd.read_csv("Test.csv")
data.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,4.126980e+05,412698.000000,4.126980e+05,412698.000000,412698.000000,392562.000000,412698.000000,1.475040e+05
mean,2.011161e+06,31215.181414,1.230061e+06,6947.201828,135.169361,6.585268,1899.049637,3.522988e+03
std,1.080068e+06,23141.743695,4.539533e+05,6280.824982,9.646749,17.158409,292.190243,2.716993e+04
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00
25%,1.421898e+06,14500.000000,1.088593e+06,3261.000000,132.000000,1.000000,1985.000000,0.000000e+00
50%,1.645852e+06,24000.000000,1.284397e+06,4605.000000,132.000000,2.000000,1995.000000,0.000000e+00
75%,2.261012e+06,40000.000000,1.478079e+06,8899.000000,136.000000,4.000000,2001.000000,3.209000e+03
max,6.333349e+06,142000.000000,2.486330e+06,37198.000000,173.000000,99.000000,2014.000000,2.483300e+06

In [20]:
heads = ['SalesID', 'MachineID', 'UsageBand', 'fiSecondaryDesc','saledate', 'fiModelSeries', 'fiModelDescriptor', 'fiProductClassDesc', 'Drive_System', 'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission', 'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower', 'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls', 'Differential_Type', 'Steering_Controls']

data = data.drop(columns = heads)

print list(data)

hours = data['MachineHoursCurrentMeter'].mean()
enclosure = data['Enclosure'].max()
hydraulics = data['Hydraulics'].max()
print(hours, enclosure, hydraulics)

data['Enclosure']  = data['Enclosure'].fillna(enclosure)
data['Hydraulics'] = data['Hydraulics'].fillna(hydraulics)
data['MachineHoursCurrentMeter'] = data['MachineHoursCurrentMeter'].fillna(hours)
data['auctioneerID'] = data['auctioneerID'].fillna(100)
data['ProductSize'] = data['ProductSize'].fillna(100)
y = data.iloc[:, 1].values
X = data.drop(columns = ['SalePrice'])
print(len(list(X)))
X = np.array(X)


##########################################################################################
dataX = dataX.drop(columns = heads)
dataX['Enclosure']  = dataX['Enclosure'].fillna(enclosure)
dataX['Hydraulics'] = dataX['Hydraulics'].fillna(hydraulics)
dataX['MachineHoursCurrentMeter'] = dataX['MachineHoursCurrentMeter'].fillna(hours)
dataX['auctioneerID'] = dataX['auctioneerID'].fillna(100)
dataX['ProductSize'] = dataX['ProductSize'].fillna(100)
X_test = np.array(dataX)

newX = np.concatenate([X, X_test])
###########################################################################################


# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

['SalePrice', 'ModelID', 'datasource', 'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'fiModelDesc', 'fiBaseModel', 'ProductSize', 'state', 'ProductGroup', 'ProductGroupDesc', 'Enclosure', 'Hydraulics']
(3522.988285063456, 'OROPS', 'Standard')
13

In [21]:
y

array([ 3157,    77,  7009, ..., 21435, 21435, 21436])

In [22]:
for i in range(data.shape[1]):
    print (list(data)[i], data.iloc[0, i], len(data.iloc[:, i].values[data.iloc[:, i].isna()]))

# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
# sc = StandardScaler()
# X[:, [3, 4]] = sc.fit_transform(X[:, [3, 4]])

#['ModelID', 'datasource', 'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'fiModelDesc', 'fiBaseModel', 'ProductSize', 'state', 'ProductGroup', 'ProductGroupDesc', 'Enclosure', 'Hydraulics']

('SalePrice', 66000.0, 0)
('ModelID', 3157, 0)
('datasource', 121, 0)
('auctioneerID', 3.0, 0)
('YearMade', 2004, 0)
('MachineHoursCurrentMeter', 68.0, 0)
('fiModelDesc', '521D', 0)
('fiBaseModel', '521', 0)
('ProductSize', 100, 0)
('state', 'Alabama', 0)
('ProductGroup', 'WL', 0)
('ProductGroupDesc', 'Wheel Loader', 0)
('Enclosure', 'EROPS w AC', 0)
('Hydraulics', '2 Valve', 0)

In [23]:
from sklearn.preprocessing import LabelEncoder
enc = []
for i in [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12]:
    encoder = LabelEncoder()
    encoder.fit_transform(newX[:, i])
    enc.append((i, encoder))
    
j = 0
for i in [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12]:
    encoder = enc[j][1]
    X[:, i] = encoder.transform(X[:, i])
    X_test[:, i] = encoder.transform(X_test[:, i])
    j = j+1

** Fitting the data to the model **

In [24]:
# from sklearn.ensemble import RandomForestRegressor
# regressor = RandomForestRegressor(n_estimators = 15, random_state = 0)
# regressor.fit(X, y)

from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X, y)

# from xgboost import XGBRegressor
# regressor = XGBRegressor()
# regressor.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [25]:
y_pred = regressor.predict(X_test)
y_pred

array([ 3168.,  7271., 22805., ..., 21437., 21437., 21446.])

** Writing the obtained predictions to a csv file **

In [26]:
y_pred = np.log2(y_pred)
data = pd.read_csv("Test.csv")
data = data.iloc[:, 0]
predictions = pd.DataFrame(y_pred, index = np.arange(len(y_pred)), columns = ['SalePrice'])
final = pd.concat([data, predictions], axis = 1)
print(final)

final.to_csv("16110044.csv", index = False)

       SalesID  SalePrice
0      1227829  11.629357
1      1227844  12.827938
2      1227847  14.477063
3      1227848  10.309476
4      1227863  14.445532
5      1227870  14.031615
6      1227871  13.156873
7      1227879  12.198138
8      1227880  14.434693
9      1227881   8.724514
10     1227882  14.807053
11     1227883  14.538613
12     1227885   9.245553
13     1227886   9.245553
14     1227887  13.156873
15     1227888  13.156873
16     1227905  14.598518
17     1227910   8.049849
18     1227911  14.804585
19     1227912  14.527905
20     1227913   9.262095
21     1227914  13.551468
22     1227917  13.612408
23     1227918   9.236014
24     1227920  11.712957
25     1227924  13.693378
26     1227925  14.598518
27     1227930  13.961902
28     1227933  13.225509
29     1227942  11.633903
...        ...        ...
12427  6642319  14.294980
12428  6642320  14.294980
12429  6642322  14.294980
12430  6642323  14.294980
12431  6642328  14.294980
12432  6642329  14.295051
12433  6642330  14.295051
12434  6642337  14.295051
12435  6642338  14.295051
12436  6642356  14.295123
12437  6642357  14.295123
12438  6642363  14.295123
12439  6642391  13.612408
12440  6642418  14.295482
12441  6642433  13.613329
12442  6642434  13.414421
12443  6642710  14.304637
12444  6642711  14.304708
12445  6642946  14.339780
12446  6643123  14.388286
12447  6643158  14.387613
12448  6643164  14.387883
12449  6643167  14.388825
12450  6643168  14.388690
12451  6643170  14.388825
12452  6643171  14.388690
12453  6643173  14.387613
12454  6643184  14.387815
12455  6643186  14.387815
12456  6643196  14.388421

[12457 rows x 2 columns]

In [27]:
from sklearn.metrics import mean_squared_log_error
error = mean_squared_log_error(regressor.predict(X), y)